.main-about {
  .main-section__row {
    display: flex;
    flex-wrap: wrap;
    grid-gap: unset;
    grid-template-columns: unset;
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    margin-right: 0;
    margin-left: 0;
    @media (max-width: 1024px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    @media (max-width: 576px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .photo-container {
      width: 40%;
      padding-top: 3rem;
      padding-bottom: 3rem;
      .main-section__photo {
        height: 100%;
      }
    }
    .main-section__description {
      width: 60%;
      padding: 5rem 8rem;
    }
    &.even {
      background-color: #f7f7f7;
      background: -webkit-linear-gradient(0deg, white 20%, #f7f7f7 20%);
      @media (min-width: 992px) {
        .photo-container {
          order: 2;
        }
        .main-section__description {
          order: 1;
          padding-left: 0;
        }
      }
    }
    @media (max-width: 992px) {
      .photo-container {
        height: 400px;
        padding-top: 0;
        padding-bottom: 0;
      }
      .main-section__description {
        padding-left: 0;
        padding-right: 0;
        padding-top: 2rem;
      }
      .photo-container,
      .main-section__description {
        width: 100%;
      }
    }
  }
}
