.dimensions {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 2rem 0;
  flex-wrap: wrap;
  &__wrapper {
    padding: 1rem;
    width: 200px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid $first;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
    text-align: center;
    height: 100%;
  }
  &__value {
    color: $first;
    font-size: 1.4rem;
    padding-top: 1rem;
  }
}
