.blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 7rem;
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
  }
  @include content-container;
  &__item {
    min-height: 20vw;
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
    @include main-font;
    @media (max-width: $desktop-s) {
      grid-column: span 2;
    }
    &-logo {
      height: 60px;
      width: auto;
    }
    &-title {
      font-size: 2.7rem;
      margin-top: 0.1rem;
      line-height: 57px;
      font-weight: 500;
    }
    &-header {
      grid-column: 1 / 3;
      min-height: 400px;
      background-position: center;
      background-size: cover;
      color: #fff;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      @include main-font;
      &-title {
        @include section-title;
      }
    }
    &-content {
      padding: 4rem;
      z-index: 2;
      position: relative;
      @media (max-width: 400px) {
        padding: 2rem;
      }
      @media (max-width: 300px) {
        padding: 1rem;
      }
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        180deg,
        #000000a1 -30%,
        rgba(0, 0, 0, 0) 105%
      );
    }
  }
}
