.buy-rent {
  .layout-shape.banner {
    height: 15rem;
    border-width: 3rem;
    width: 9rem;
    right: 8.5rem;
    top: 0;
    transform: translateY(-50%);
  }
  .layout-shape.buy {
    height: 11rem;
    border-width: 2rem;
    width: 6rem;
    left: 4rem;
    bottom: 0;
    transform: translateY(50%);
  }
  .layout-shape.rent {
    height: 27rem;
    border-width: 5rem;
    width: 13rem;
    right: 0;
    bottom: 0;
    transform: translate(100%, 100%);
  }
  .main-mask__content {
    position: relative;
    z-index: 2;
  }
}
