@import "../layout/layout";
@import "../components/social-media";
@import "../components/main-banner";
@import "../components/about/main-section";
@import "../components/about/invitation";

.layout-shape {
  z-index: 4;
}
.main-banner {
  @media (min-width: 992px) {
    .button-container {
      display: flex;
      justify-content: flex-end;
    }
  }
}
.layout-shape.--start.--left {
  transform: translate(-65%, -70%);
  bottom: 0;
  top: 0;
}
.main-about {
  @include sections-padding;
  position: relative;
  z-index: 100;
  &__layout-shape {
    position: absolute;
    box-sizing: border-box;
    border-color: #f7f7f7;
    border-style: solid;
    z-index: -1;
    &.left {
      left: 0;
      top: 0;
      transform: translate(-50%, 5%);
      height: 70rem;
      border-width: 15rem;
      width: 45rem;
    }
    &.right {
      right: 0;
      top: 45%;
      transform: translate(50%, 0%);
      height: 75rem;
      border-width: 13rem;
      width: 40rem;
    }
  }

  .link-container {
    display: flex;
    justify-content: flex-end;
    @media (max-width: 992px) {
      justify-content: flex-start;
    }
  }

  .main-section__date {
    font-style: italic;
    color: orange;
    letter-spacing: 3.24px;
  }
  .main-section__title {
    width: 100%;
    font-size: 2.1rem !important;
    margin-bottom: 0;
    &::after {
      display: none;
    }
  }
  .main-section__link {
    color: orange;
    transition: color 0.2s;
    letter-spacing: 3.24px;
    margin-top: 1rem;
    display: block;
    font-weight: 200;
    width: fit-content;
    &:hover {
      color: $second;
    }
  }
  .main-section__row {
    margin-bottom: 4rem;
    @media (min-width: 1400px) {
      padding-left: 13rem;
      padding-right: 13rem;
    }

    &:nth-child(2n) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    &:nth-child(2n - 1) {
    }
    .photo-container {
      padding: 0;
      height: 400px;
    }
    .main-section__description {
      padding-top: 0rem;
      padding-bottom: 0rem;
      padding-right: 0;
    }
  }
}
