@import "../layout/layout";
@import "../components/social-media";
@import "../components/main-banner";
@import "../components/about/main-section";
@import "../components/about/invitation";
@import "../components/single-gallery/single-gallery";
@import "../components/lightbox/lightbox";

.layout-shape {
  z-index: 5;
}

.layout-shape.--start.--left {
  transform: translate(-65%, calc(-100% + 5rem));
  bottom: unset;
}

.invitation {
  margin-bottom: 0;
  padding-bottom: 8rem;
  margin-top: 3rem;
}

.back {
  display: block;
  width: 100%;
  text-align: center;
  color: $first;
  transition: color 0.2s;
  letter-spacing: 3px;
  font-size: 1.2rem;
  font-weight: 100;

  margin-top: 5rem;
  &:hover {
    color: $second;
  }
}
